/* Header */
.Header-ul{
  margin-top: 0%;
  background-color: #61dafb;
  height:62px;
}
.Header-ul li{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  color:white;
  text-decoration: none;
  font-size: 30px;
}

.Header-ul li a{
  color: antiquewhite;
  text-decoration: none;
  padding: 10px;
}
.Header-ul li:hover{
  background-color: #282c34;
}
/*  */

/* ApiDemo */
.tb tr {
  border-style: solid;
  border-width: 10;
  border-color: black;
}

.Demo th{
  border-bottom: 2px black;
  background-image: linear-gradient(grey,white);
  padding:10px;
}


.Demo{
  width: 1000px;
  height: 10vh;
  display:block;
  justify-content: center;
  align-items: center;
}

.Demo Table{
  border: 2px solid forestgreen;
  width: 1500px;
  height: 200px;
  background-image: linear-gradient(white,grey);
}

.Demo button{
  padding:10px;
  width:80px;
  margin-right: 2px;
  position: relative;
  background-image: linear-gradient(rgb(255, 221, 237),rgb(255, 75, 75));
  border-radius: 5px;
}

.Demo button:hover{
  background-image: linear-gradient(rgb(255, 25, 25),rgb(255, 157, 157));
  border-radius: 10px;
  cursor: pointer;
}
.Demo th{
  border-bottom: 3px solid black;
}

.Demo td{
  text-align: center;
  background-image: linear-gradient(White,rgb(255, 255, 255));
}
.Pagination{
  margin-top: 0px;
  margin-left: 100px;
}
.Pagination ul li{
  display: inline-block;
  padding: 7px;
  padding-right: 20px;
  background-image: linear-gradient(#61dafb,white);
  border: 1px solid grey;
  border-radius: 5px;
  margin:1px;
}
.Pagination ul li:hover{
  cursor: pointer;
  font-size: 80%;
}

#PaginationP{
  margin-right: 5px;
  display: inline-block;
  background-image: linear-gradient(white,white);
  color: Red;
  border: 0px;
}
#PaginationP:hover{
  font-size: 100%;
  cursor:text;
}
/*  */

/* Add */

.inputD{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppData{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 20px;
}
.AddData h1{
  color:#282c34;

}
.AddData button{
  Padding:5px;
  color: black;
  background-color: #61dafb;
  width: 100px;
}

.Box{
  background-image: linear-gradient(rgb(187, 187, 187),rgb(82, 82, 82));
  position: flex;
  align-items: center;

}

/* Home */
.Home{
  text-align: center;
}

